
<!-- <ul>
 {{#each slack}}

     <li>
     <p>
       {{this.slack}}
       {{this.createdAt}}

       </p>
     </li>

      {{/each}}
</ul> -->


<table>
<thead> 
        <th>Slack Message</th> 
        <th>Time Created</th> 
        <th>Slack User Id</th> 
</thead> 
    <tbody> 
       {{#each slack}}
        <tr> 
            <td>{{this.slack}}</td> 
            <td>{{this.createdAt}}</td> 
            <td>{{this.UserId}}</td> 
        </tr> 

         {{/each}}

    </tbody> 
</table> 




